
[app]

photo_count_initial = 1000
photo_count_current = 
photo_prefix = MikroKam-
screen_width = 790
screen_height = 430
photo_width = 360
photo_height = 360
image_width = 1080
image_height = 1080
resolution_width = 1080
resolution_height = 1080
test_image = test.jpg
last_run = 
pvw_left_margin = 5
pvw_top_margin = 65
preview_width = 360
preview_height = 360
photo_path = flash

[software]
version = 0.2.3
[camera]
capture_format = jpeg
quality = 85
analog_gain = 
awbg = 
brightness = 50
color_effects = None
contrast = 0
digital_gain = 
drc_strength = off
exif_tags = 
exposure_compensation = 0
exposure_mode = auto
exposure_speed = 
flash_mode = off
framerate = 0
framerate_delta = 
framerate_range = 
hflop = False
image_denoise = True
image_effect = none
image_effect_params = 
iso = 0
led = True
meter_mode = average
overlays = 
resolution = 
rotation = 0
sensor_mode = 0
sharpness = 0
shutter_speed = 0
still_stats = False
timestamp = 
vflip = False
video_denoise = True
video_stabilization = False
zoom = (0.0,0.0,1.0,1.0)

[preview]
alpha = 
fullscreen = False
layer = 
window = (0,0,)
preview = None
duration = 120

[snapshot]

